@charset 'utf-8';
@import '_value.scss', '_mixin.scss', '_icons.scss', '_reset.scss';

// 인덱스(홈)
.box-links {
  position: absolute;
  top: 50%; left: 50%;
  display: block;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .btn-link {
    position: relative;
    display:block;
    width: 30%;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    background: rgba(0,0,0,.7);
    color: $white;
    border-radius: 5px;
    animation: text-focus-in .3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    &:before {
      @include set_content(100%, 100%, $black, block, absolute);
      top: 0;
      left: 0;
      opacity: 0.1;
      transform: scaleX(0);
      transform-origin: 100% 100%;
      transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
      will-change: transform;
    }
    &:hover::before  {
      transform-origin: 0 0;
      transform: scaleX(1);
    }
  }
}

@keyframes text-focus-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// 홈버튼
.btn-home {
  position: fixed;
  bottom: 20px; right: 20px;
  display: inline-block;
  width: 40px; height: 40px;
  line-height: 1;
  border-radius: 50%;
  background: svg_home() no-repeat center, rgba(0,0,0,.4);
  background-size: 50%, 100%;
}

// 상품 목록
.product-wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  .product-header {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    .txt-update {
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
      color: $gray;
    }
    .btn-list-type {
      float: right;
      width: 22px; height: 22px;
      background-size: 100%;
      &.btn-list-grid1 {
        background-image: svg_btn_grid1();
      }
      &.btn-list-grid2 {
        background-image: svg_btn_grid2();
      }
      &.btn-list-randscape {
        background-image: svg_btn_randscape();
      }
    }
  }
  .product-list {
    // list 공통
    li {
      width: 100%;
    }
    .product-views {
      position: relative;
      width: 100%;
      padding-top: 120%;
      background-color: #F1F1F1;
      a {
        position: absolute;
        top: 50%; left: 0;
        display: block;
        width: 100%;
        transform: translateY(-50%);
        img {
          width: 100%;
        }
      }
      .product-label-box {
        position: absolute;
        bottom: -13px;
        width: 100%;
        padding: 0 9px;
        box-sizing: border-box;
        .label {
          float: left;
          display:block;
          padding: 6px 6.5px;
          max-height: 26px;
          font-size: 11px;
          color: $white;
          &.label-new {
            background-color: #FF9500;
          }
          &.label-musinsa {
            background-color: #18A286;
          }
        }
      }
    }
    .product-infos {
      width: 100%;
      padding: 20px 10px;
      box-sizing: border-box;
      .txt-brand {
        font-size: 11px;
      }
      .txt-name {
        @include ellipsis('multi', 2);
        margin: 8px 0 4px;
        font-size: 14px;
        font-weight: bold;
      }
      .price {
        font-size: 16px;
      }
      .discountrate {
        float: right;
        font-size: 16px;
        font-weight: bold;
        color: #FF001F;
      }
      .origin {
        display: block;
        font-size: 11px;
        color: $gray;
      }
    }
    // list type change
    &.list-grid2 {
      li {
        float: left;
        width: 50%;
      }
      .product-infos {
        height: 155px;
      }
    }
    &.list-grid1 {
      .product-infos {
        padding-bottom: 40px;
      }
    }
    &.list-randscape {
      li {
        display: table;
      }
      .product-views {
        display: table-cell;
        width: 170px;
        padding-top: 204px; // 170x1.2
        .product-label-box {
          bottom: 0;
          padding: 0;
        }
      }
      .product-infos {
        display: table-cell;
        vertical-align: middle;
        width: calc(100% - 170px);
        padding: 0 15px;
      }
    }
  }
}